<h1>Wikis</h1>

<% if current_user.admin? || current_user.premium? %>
    <% @wikis.each do |wiki| %>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">
                    <%= link_to wiki.title, wiki %>
                </h4>
            </div>
        </div>
    <% end %>
<% else %>
    <% @wikis.each do |wiki| %>
        <% if wiki.private == false ||  wiki.private == nil %>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">
                            <%= link_to wiki.title, wiki %>
                    </h4>
                </div>
            </div>
        <% end %>
    <% end %>
<% end %>


<div class="col-md-4">
    <%= link_to "New Wiki", new_wiki_path(@wiki), class: 'btn btn-primary' %>
</div>